openapi: 3.2.0
info:
  title: Auto Drive Download Gateway API
  version: 1.1.0
  description: Auto-Drive consists of multiple APIs that are used to interact with the Auto-Drive platform.
security:
- apiKey: []
  provider: []
tags:
- name: Auto Drive Download Gateway
paths:
  /downloads/async/{cid}:
    post:
      summary: Downloads - Create async download for an object by CID
      tags:
      - Auto Drive Download Gateway
      servers:
      - url: https://public.auto-drive.autonomys.xyz/api
        description: Download Auto Drive Gateway (Mainnet)
      parameters:
      - name: cid
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successfully created async download
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/AsyncDownload'
      operationId: postDownloadsAsyncByCid
      x-operation-id-source: derived
  /downloads/async/{downloadId}/dismiss:
    post:
      summary: Downloads - Dismiss an async download
      tags:
      - Auto Drive Download Gateway
      servers:
      - url: https://public.auto-drive.autonomys.xyz/api
        description: Download Auto Drive Gateway (Mainnet)
      parameters:
      - name: downloadId
        in: path
        required: true
      responses:
        '200':
          description: Successfully dismissed async download
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/AsyncDownload'
      operationId: postDownloadsAsyncByDownloadIdDismiss
      x-operation-id-source: derived
  /downloads/{cid}:
    get:
      summary: Downloads - Download an object by CID
      tags:
      - Auto Drive Download Gateway
      servers:
      - url: https://public.auto-drive.autonomys.xyz/api
        description: Download Auto Drive Gateway (Mainnet)
      parameters:
      - name: cid
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved object for download
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        '404':
          description: Metadata not found
        '500':
          description: Failed to retrieve data
      operationId: getDownloadsByCid
      x-operation-id-source: derived
  /downloads/async/{downloadId}:
    get:
      summary: Downloads - Get async download status
      tags:
      - Auto Drive Download Gateway
      servers:
      - url: https://public.auto-drive.autonomys.xyz/api
        description: Download Auto Drive Gateway (Mainnet)
      parameters:
      - name: downloadId
        in: path
        required: true
      responses:
        '200':
          description: Successfully retrieved async download status
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/AsyncDownload'
      operationId: getDownloadsAsyncByDownloadId
      x-operation-id-source: derived
  /downloads/async/{downloadId}/status:
    get:
      summary: Downloads - Get async download status
      tags:
      - Auto Drive Download Gateway
      servers:
      - url: https://public.auto-drive.autonomys.xyz/api
        description: Download Auto Drive Gateway (Mainnet)
      parameters:
      - name: downloadId
        in: path
        required: true
      responses:
        '200':
          description: Successfully retrieved async download status
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/AsyncDownloadStatus'
      operationId: getDownloadsAsyncByDownloadIdStatus
      x-operation-id-source: derived
  /downloads/async/@me:
    get:
      summary: Downloads - Get all async downloads for the current user
      tags:
      - Auto Drive Download Gateway
      servers:
      - url: https://public.auto-drive.autonomys.xyz/api
        description: Download Auto Drive Gateway (Mainnet)
      responses:
        '200':
          description: Successfully retrieved all async downloads
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AsyncDownload'
      operationId: getDownloadsAsync@me
      x-operation-id-source: derived
components:
  schemas:
    AsyncDownloadStatus:
      type: object
      properties:
        status:
          type: string
          enum:
          - cached
          - not-cached
    AsyncDownload:
      type: object
      properties:
        id:
          type: string
        oauthProvider:
          type: string
        oauthUserId:
          type: string
        cid:
          type: string
        status:
          type: string
          enum:
          - pending
          - downloading
          - completed
          - failed
          - dismissed
        errorMessage:
          type:
          - string
          - 'null'
        fileSize:
          type:
          - number
          - 'null'
        downloadedBytes:
          type:
          - string
          - 'null'
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: Authorization
      description: 'Bearer token for authentication. Example: Bearer <token>. Could be either an API key or a JWT token.'
    provider:
      type: apiKey
      in: header
      name: X-Auth-Provider
      description: 'Used for differentiating between different auth providers. For most use cases: X-Auth-Provider: apikey'
